.movie-card {
  flex: 1 0 calc(50% - 8px);
  max-width: calc(50% - 8px);
}

.title {
  cursor: pointer;
}

.rating .mantine-Button-section {
  margin-right: 4px;
}

.rating-modal .mantine-Modal-header {
  border-bottom: 1px solid var(--gray-200);
}

.rating-modal .mantine-Modal-title {
  font-size: 16px;
  font-weight: bold;
}

.rating-modal .mantine-Rating-root {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 575px) and (max-width: 1200px) {
  .movie-card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .movie-card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 15px !important;
  }

  .movie-card-content {
    flex-direction: column !important;
    align-items: center !important;
  }
}