#root {
  max-width: 1440px;
  margin: 0 auto;
}

.main-content {
  padding: 40px 90px;
  min-height: 100vh;
}

@media (min-width: 575px) and (max-width: 1200px) {
  .main-content {
    padding: 30px;
  }

  .container {
    flex-direction: row !important;
  }
}

@media (max-width: 575px) {
  .main-content {
    padding: 15px;
    min-height: calc(100vh - 145px);
  }

  .container {
    flex-direction: column;
  }
}