#root {
  max-width: 1440px;
  margin: 0 auto;
}

.main-content {
  padding: 40px 90px;
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

@media (min-width: 575px) and (max-width: 1200px) {
  .main-content {
    padding: 30px;
  }

  .container {
    flex-direction: row !important;
  }
}

@media (max-width: 575px) {
  .main-content {
    display: flex;
    padding: 15px;
  }

  .container {
    flex-direction: column;
  }
}