@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:wght@700&family=Markazi+Text:wght@400;500&display=swap');

body {
  margin: 0;
  min-width: 320px;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --purple-100: #F2ECFA;
  --purple-200: #E5D5FA;
  --purple-500: #9854F6;
  --main-gray: #ACADB9;
}

.container {
  display: flex;
  justify-content: flex-start;
}
