@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:wght@700&family=Markazi+Text:wght@400;500&display=swap');

body {
  margin: 0;
  min-width: 320px;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --purple-100: #F2ECFA;
  --purple-200: #E5D5FA;
  --purple-400: #BD93F7;
  --purple-500: #9854F6;
  --purple-600: #541F9D;
  --main-gray: #ACADB9;
  --gray-100: #F5F5F6;
  --gray-200: #EAEBED;
  --gray-300: #D5D6DC;
  --gray-500: #ACADB9;
  --gray-600: #7B7C88;
  --yellow: #FAB005;
}

.container {
  display: flex;
  justify-content: flex-start;
}
